body {
  text-align: center;
  background-color: #195ca3;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #fffcee;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: rgb(255, 82, 82);
  opacity: 0.8;
}

.red {
  background-color: rgb(255, 78, 78);
}

.green {
  background-color: rgb(64, 192, 64);
}

.blue {
  background-color: rgb(70, 104, 255);
}

.yellow {
  background-color: rgb(255, 236, 61);
}

.pressed {
  box-shadow: 0 0 10px white; 
}
